.form {
  height: 100vh;
  width: 90%;
  border-radius: 20px 20px 0 0;
  margin: 0 auto;
  padding: 60px 0 0 0;
  flex-flow: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputWrapper {
  position: relative;
  width: 240px;
  margin: 10px auto 30px auto;
}

.inputField {
  position: relative;
  width: 240px;
  background: transparent;
  border: 1px solid black;
  text-indent: 10px;
  border-radius: 20px;
  padding: 5px;
}

.labelField {
  position: absolute;
  width: inherit;
  left: 15px; /* Adjust the left position as needed */
  top: 5px; /* Adjust the top position to control the initial label position */
  transition: top 0.3s ease, font-size 0.3s ease; /* Add font-size transition for smooth scaling */
  pointer-events: none;
  color: gray;
}

.holdLabel {
  top: -20px;
  font-size: 0.8em;
}

.inputField:focus + .labelField {
  top: -20px; /* Move the label up in the -Y direction when input is selected */
  font-size: 0.8em; /* Optionally, scale down the font size */
  color: red;
}

.checkbox {
  padding-bottom: 40px;
}

.textarea {
  margin-top: 40px;
  min-height: 200px;
  max-height: 300px;
  width: 240px;
}

.btn {
  font-size: 26px;
  margin: 0 0 120px 0;
}

.textWrapper {
  position: relative;
}

@media (min-width: 767px ) {
  .form {
    height: 80vh;
    width: 90%;
  }

  .textarea {
    width: 407px;
  }
}