.container {
    min-height: 100vh;
    overflow-x: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


.heroContainer{
    position: relative;
    display: grid;
    justify-items: center;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    height: 30vh;
    width: 100%;
}

.heroBG {
    position: relative;
    z-index: -20;
    width: auto;
    height: 30vh;
}

.iconSVG {
    position: absolute;
    grid-column: 2 / 3;
    height: 160px;
    width: 160px;
    align-self: center;
    justify-self: end;
}

.heroContent {
    justify-self: start;
    align-self: center;
    position: absolute;
    grid-column: 3/4;
}

.heroContent p {
    font-size: 32px;
}

.contentPrint{
    width: 80%;
    margin: 40px auto;
    align-content: center;
}

.contentSec01{
    margin: 0 auto;
    border-radius: 10px;
    background-color: aliceblue;
    color: black;
    padding: 5px 40px 30px 40px;
}

.techStack {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: inherit;
    justify-content: center;
}

@media (min-width: 767px ) {
    .container {height: 200px;}
}

@media (min-width: 1200px ) {
    .container {height: 600px;}
}