.deskNavIcon {
  display: none;
}

.mobileNavIcon {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    background-color: #33333300;
    padding: 0;
    margin: 0;
    z-index: 20;
  }
  .shrunkNavbar {
    /* Styles to apply when the navbar is shrunk */
    height: 50px; /* Or any other style changes */
  }

  .hideDisplayMNav {
    background: linear-gradient(0deg, rgba(23, 23, 23, 1) 1%, rgba(32, 25, 11, 1) 9%, rgb(67, 48, 13) 100%);
    position: absolute;
    transition: all 0.5s ease-in-out;
    align-items: center;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100%;
    z-index: 10;
  }

  .navIcon{
    height: 120px;
    margin: 0 auto;
    place-self: center center;
  }
  
  .showDisplayMNav{
    background: linear-gradient(0deg, rgba(23, 23, 23, 1) 1%, rgba(32, 25, 11, 1) 9%, rgb(67, 48, 13) 100%);
    position: absolute;
    transition: all 0.5s ease-in-out;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
  }
  
  .navbarToggle {
    display: block;
    position: fixed;
    z-index: 20;
    right: 2rem;
    top: 0.5rem;
    /* Other styles for your menu button */
  }
  
  .navLinks {
    position: absolute;
    display: flex;
    height: 40vh;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
  }
  
  .navItem {
    margin-right: 20px;
    font-size: 36px;
    align-items: baseline;
    /* Other styles for your nav items */
  }
  
  .navActive {
    display: flex;
  }

  @media (min-width: 767px) {

    .navbarToggle {
      display: none;
    }
    
  }


  