.navbar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #33333300;
    padding: 0;
    margin: 0;
    z-index: 20;
  }

  .hideDisplayMNav {
    background: linear-gradient(0deg, rgba(23, 23, 23, 1) 1%, rgba(32, 25, 11, 1) 9%, rgb(67, 48, 13) 100%);
    position: absolute;
    transition: all 0.5s ease-in-out;
    align-items: center;
    top: 0;
    left: 100%;
    height: 100vh;
    width: 100%;
  }
  
  .showDisplayMNav{
    background: linear-gradient(0deg, rgba(23, 23, 23, 1) 1%, rgba(32, 25, 11, 1) 9%, rgb(67, 48, 13) 100%);
    position: absolute;
    transition: all 0.5s ease-in-out;
    align-items: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
  }
  
  .navbarToggle {
    display: none;
    position: fixed;
    z-index: 20;
    right: 2rem;
    top: 0.5rem;
    /* Other styles for your menu button */
  }
  
  .navLinks {
    position: absolute;
    display: flex;
    width: auto;
    height: 40vh;
    list-style: none;
    align-items: center;
    justify-content: space-evenly;
    /* Add additional styles as needed */
  }
  
  .navItem {
    margin-right: 20px;
    font-size: 36px;
    align-items: baseline;
    /* Other styles for your nav items */
  }
  
  /* Responsive styles */
  @media (max-width: 767px) {
    .navbarToggle {
      display: block;
    }
  
    .navLinks {
      display: none;
      flex-direction: column;
      width: 100%;
      /* Styles for mobile menu */
    }
  
    .navActive {
      display: flex;
    }
  }
  